.nav-container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.container-fluid {
  padding-right: 120px !important;
  padding-left: 120px !important;
}

.navbar-default .navbar-brand{
  color: #2258A6 !important;
  font-size: 25px;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  background-image: unset;
  color: #2258A6 !important;

}
